<div class="project-wrapper">
    <div class="project-list">
        <div class="project-item" *ngFor="let item of projects$ | async" [routerLink]="'/translations/' + item.id">
            <div class="fx gap-20">
                <div class="logo">
                    <img [src]="item.logoUrl">
                </div>
                <div class="info">
                    <h2>{{item.name}}</h2>
                    <p>{{item.description}}</p>
                    <hr>
        
                    <div class="info">
                        <h4>Translations: {{item?.translationCount}}</h4>

                        <div class="status">
                            <app-status-bar [label]="'Complete'" [percent]="item?.completeCountPercent"></app-status-bar>
                        </div>
                        <div class="status">
                            <app-status-bar [label]="'Reviewed'" [percent]="item?.reviewedCountPercent"></app-status-bar>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <th>Language</th>
                                    <th>Complete</th>
                                    <th>Incomplete</th>
                                    <th>Reviewed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let translation of item.translations">
                                    <td>{{translation.languageName}}</td>
                                    <td>{{translation.completeCount}}</td>
                                    <td>{{translation.incompleteCount}}</td>
                                    <td>{{translation.reviewedCount}}</td>
                                </tr>
                            </tbody>
                        </table>   

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
