<h2 *ngIf="newKey">Add Key</h2>
<h2 *ngIf="!newKey">Edit Key</h2>

<div>
    <form [formGroup]="form">
                
        <div class="form-element">
            <mat-form-field>
                <mat-label>Key (Selector)</mat-label>
                <input matInput formControlName="key" placeholder="Key">
            </mat-form-field>
        </div>

        <div class="form-element">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Description" [rows]="3"></textarea>
            </mat-form-field>
        </div>

       
    </form>
</div>

<mat-dialog-actions>
    <button (click)="onSubmit()">Speichern</button>
</mat-dialog-actions>
