<div class="header fx gap-20 align-center jy-space-between">
    <div>
        <div class="fx gap-20 align-center">
            <div>
                <img class="logo" [src]="project?.logoUrl">
            </div>
            <h2>{{project?.name}}</h2>
        </div>
    </div>

    <div class="toolbar">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput [formControl]="searchTerm" placeholder="Search">
        </mat-form-field>
    </div>
</div>



<div class="translation-list">
    <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="400" maxBufferPx="800" class="example-viewport">
        <div *cdkVirtualFor="let key of translationKeys;" class="list-item">
            <app-translation-key [key]="key"></app-translation-key>
        </div>
    </cdk-virtual-scroll-viewport>
    <!-- <div class="list-item" *ngFor="let key of translationKeys">
    </div> -->
</div>
