.header {
    margin-bottom: 2rem;
}

.logo {
    max-width: 50px;
}

.list-item {
    margin-bottom: 1rem;
}

.toolbar {
    min-width: 300px;

    mat-form-field {
        width: 100%;
        color: white;
    }
}